<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>失败</title>
    <link type="text/css" rel="stylesheet" th:href="@{css/login.css}">
</head>
<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        alert("登陆失败！！！");
    })
</script>
<body>
<div th:insert="~{login::#outline}">
		<span th:each="cookie:${#request.cookies}" th:if="${cookie.getName().equals('sss')}">
			[[${cookie.getValue()}]]
		</span>
    登陆失败！！！
</div>
</body>
</html>